# Imported functions
importFrom("grDevices", "devAskNewPage")
importFrom("graphics", "axis", "abline", "barplot", "plot", "text")
importFrom("utils", "read.csv2")

# Exported functions
export(read.formscanner, addkey, addweights, resp2binary, resp2scores, freq, person.stat, item.stat, report)


# S3 methods
S3method(print, frlist)
S3method(plot, frlist)
